%h1 Listing brief_bags

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @brief_bags.each do |brief_bag|
      %tr
        %td= brief_bag.id
        %td= link_to 'Show', brief_bag
        %td= link_to 'Edit', edit_brief_bag_path(brief_bag)
        %td= link_to 'Destroy', brief_bag, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Brief bag', new_brief_bag_path
